
<footer class="footer items-center p-4 text-black-100">
  <div class="footer-text items-center grid-flow-col">
    <p class="text-black-700">© 2022 Venddir. All rights reserved. Privacy policy | Terms of use</p>
  </div> 
  <div class="footer-text-2 grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <p>Developed by <span><a href="">Sarah Adewale</a></span> </p>
    <a href=""><i class="fa-brands fa-github" style="color: #2D2D2D; font-size: 24px;"></i></a>
  </div>
</footer>
<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>

</body> 
</html>
