<%- include('partials/nav') -%>


    <section>
        <div class="profile-background">
            <h1 class="account-text">My Account</h1>
            <div class="flex gap-6 menu-items vendor-menu-items">
                <a href="/profile" class="">Profile</a>
                <a href="/businessprofile" class="vendor-menu-items">Business Profile</a>
                <a href="/security" class="vendor-menu-items">Security</a>
            </div>
        </div>

    </section>

    <!-- form section -->

    <section class="user-info">
        
        <form class="space-y-6" action="/signup" enctype="multipart/form-data" method="POST">
            <h2 class="basic-info-text">Basic Info</h2>
            <h2 class=" business-logo-text">Business Logo</h2>

            <section class="flex gap-6 business-info" >
                <div class="avatar-bg block">
                    <img src="./images/avatar.png" alt="">
                    <div class="flex gap-3 avatar-discard-remove">
                        <p class="avatar-discard-text">Discard</p>
                        <span>|</span>
                        <p class="avatar-discard-text">Remove</p>
                    </div>
                </div>
                <button type="file" class="upload-section upload-button">
                    <label for="imgUpload" class="form-label"></label>
                    <div class="upload-bg">
                        <i class="ph-camera upload-icon"></i>
                        <p class="upload-text">Click or drag <br> to upload</p>
                    </div>
                </button>
            </section>


            <section class="block mt-6 business-profile-field">
                <div class="">
                    <label for="firstName" class="info-label"></label>
                    <input type="text" name="firstName" id="firstName" class="name-field form-control profile-input rounded-lg business-input " placeholder="Business Name" required="" disabled>
                </div>
                <section class="flex flex-row">
                    <div class="">
                        <label for="lastName" class=""></label>
                        <input type="text" name="lastName" id="lastName" class="name-field form-control profile-input rounded-lg" placeholder="Contact Number" required="" disabled>
                    </div>
                    <div class="">
                        <label for="lastName" class=""></label>
                        <input type="text" name="lastName" id="lastName" class="name-field form-control profile-input rounded-lg" placeholder="Website Link" required="" disabled>
                    </div>
                </section>

                <section class="flex flex-row">
                    <div class="">
                        <label for="lastName" class=""></label>
                        <input type="text" name="lastName" id="lastName" class="name-field form-control profile-input rounded-lg" placeholder="Street Address" required="" disabled>
                    </div>
                    <div class="">
                        <label for="lastName" class=""></label>
                        <input type="text" name="lastName" id="lastName" class="name-field form-control profile-input rounded-lg" placeholder="State" required="" disabled>
                    </div>
                </section>

                <div class="">
                    <label for="lastName" class=""></label>
                    <input type="text" name="lastName" id="lastName" class="name-field form-control profile-input rounded-lg" placeholder="City" required="" disabled>
                </div>

                <section class="flex flex-row">
                    <div class="">
                        <label for="lastName" class=""></label>
                        <input type="text" name="lastName" id="lastName" class="name-field form-control profile-input rounded-lg" placeholder="Business Category" required="" disabled>
                    </div>
                    <div class="">
                        <label for="lastName" class=""></label>
                        <input type="text" name="lastName" id="lastName" class="name-field form-control profile-input rounded-lg" placeholder="Freetext sub category" required="" disabled>
                    </div>
                </section>
                
                <div>
                    <textarea name="" id="" cols="20" rows="10" placeholder="Tell us about your business" class="business-input business-caption" disabled></textarea>
                    <p class="input-footnote">250 words</p>
                </div>
                

                <section class="flex flex-row">
                    <div class="">
                        <label for="lastName" class=""></label>
                        <input type="text" name="lastName" id="lastName" class="name-field form-control profile-input rounded-lg" placeholder="open at" required="" disabled>
                    </div>
                    <div class="">
                        <label for="lastName" class=""></label>
                        <input type="text" name="lastName" id="lastName" class="name-field form-control profile-input rounded-lg" placeholder="close at" required="" disabled>
                    </div>
                </section>
            
                <section class="flex row mt-16 ">
                        <div class="btn-section mb-32">
                            <button class="discard-btn mr-2.5" type="submit">Discard</button>
                            <button class="save-btn" type="submit">Save Changes</button>
                        </div>
                        
                </section>
            </section>
        
        </form>

    </section>
    
  

<%- include('partials/footer') -%>