<%- include('partials/nav') -%>
<%- include('partials/header') -%>


<section class="category-container flex">
        <div>
            <ul class="flex gap-10">
                <li class="category-list">
                    <div>
                        <i class="ph-books ml-3 mb-4" style="color: #818181" :size="64" ></i>
                        <p>Books</p>
                    </div>
                </li>
                <li class="category-list">
                    <div>
                       <i class="ph-laptop ml-6 mb-4" style="color: #818181"></i>
                       <p>Computers</p> 
                    </div>
                </li>
                <li class="category-list">
                    <div class="">
                       
                        <i class="ph-t-shirt ml-5 mb-4" style="color: #818181"></i>
                        <p>Clothes</p>
                    </div>
                </li>
                <li class="category-list ">
                    <div>
            
                       <i class="ph-wine ml-4 mb-4" style="color: #818181"></i>
                       <p>Drinks</p> 
                    </div>
                </li>
                <li class="category-list">
                    <div>
                       
                       <i class="ph-cooking-pot ml-3 mb-4" style="color: #818181"></i>
                       <p>Food</p>
                    </div>
                </li>
                <li class="category-list">
                    <div>
                        
                        <i class="ph-game-controller ml-3 mb-4" style="color: #818181"></i>
                        <p>Gadgets</p>
                    </div>
                </li>
                <li class="category-list">
                    <div>
                       
                        <i class="ph-watch ml-3 mb-4" style="color: #818181"></i>
                        <p>Jewellery</p>
                    </div>
                </li>
                <li class="category-list">
                    <div>
                       
                       <i class="ph-device-mobile-camera ml-3 mb-4" style="color: #818181"></i>
                       <p>Phones</p> 
                    </div>
                </li>
                <li class="category-list">
                    <div>
                    
                       <i class="ph-toilet ml-3 mb-4" style="color: #818181"></i>
                       <p>Plumbings</p> 
                    </div>
                </li>
                <li class="category-list">
                    <div>
                      
                       <i class="ph-toilet-paper ml-3 mb-4" style="color: #818181"></i>
                       <p>Supplies</p> 
                    </div>
                </li>
                <li class="category-list">
                    <div>
                       
                       <i class="ph-wrench ml-3 mb-4" style="color: #818181"></i>
                       <p>Tools</p> 
                    </div>
                </li>
                <li class="category-list">
                    <div>
                       <i class="ph-fork-knife ml-3 mb-4" style="color: #818181" ></i>
                       
                       <p>Utensils</p> 
                    </div>
                </li>
            </ul>
            
        </div>
    </section>
    <section class="flex gap-2 top-rated">
        <span><i class="ph-star-fill" style="color: yellow;"></i></span>
        <p>Top Rated Vendors</p>
    </section>

    <ul>
        <li>
            <section class=" vendor-container">
        <section class="flex second-vendor-container gap-4">
            <!-- avatar section -->
            <div class="vendor-avatar">
                <img src="./images/vendor-logo.png" class="justify-center avatar-img" alt="">
            </div>

            <!-- info section -->
            <section class="vendor-info block">
                <div class="flex gap-2">
                    <h2 class="vendor-name">The Burger Joint</h2>
                    <span class="vendor-reviews"><i class="fa-solid fa-star"></i>Reviews</span>
                </div>
                <div class="vendor-category">
                    <p>Food, Burger, Shakes</p> 
                </div>
                <div class="flex mt-2 gap-2">
                    <span><i class="ph-map-trifold" style="color: #818181"></i></span>
                    <a href="#"><p class="vendor-directions">Get Directions</p></a>
                </div>
                <div class="vendor-about">
                    <p>Our menu features burgers that are hand crafted with 100% Angus beef. Always fresh, never frozen. We use fresh, natural <br> and delicious ingredients.</p>
                </div>
            </section>
            
            <!-- contact section -->
            <section class="contact-section">
                <section class="flex gap-4">
                    <div class="icon-border">
                        <i class="fa-solid fa-phone icon-img"></i>
                    </div>
                    <div class="icon-border">
                        <i class="fa-sharp fa-solid fa-link icon-img"></i>
                    </div>
                    <div class="icon-border">
                        <i class="fa-solid fa-bookmark icon-img"></i>
                    </div>
                </section>
                <section >
                    <div class="flex gap-3 mt-4">
                        <p class="vendor-hours">Open <span class="vendor-time">till 10:30PM</span></p>
                         
                    </div>
                
                </section>
            
            </section>
        </section>
        
    </section>
        </li>
    </ul>

<%- include('partials/footer') -%>