<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles/tailwind.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/custom.css">
    
    <title>This is the Homepage</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/site-icon.png"
    />
</head>
<body>
    <!-- <h1 class="text-3xl">Hello World</h1> -->

  

    <nav class="nav-background px-2 sm:px-4 py-5 sticky ">
        <div class="px-14 flex flex-wrap justify-between items-center mx-auto">
            <a href="/" class="flex items-center">
                <img src="./images/Logo-main.png" alt="Venddir Logo">
            </a>
            <div class="flex items-center md:order-2">
               
                <button type="button" class="flex mr-3 text-sm  rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                    <span class="sr-only">Open user menu</span>
                    <div class="hamburger-border">
                        <i class="ph-list" style="color: #EAEAEA; font-size: 18px;"></i>
                        <i class="ph-user-fill" style="color: #F3F3F3; font-size: 18px;"></i>
                    </div>
                </button>
                <!-- Dropdown menu -->
                <div class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow " id="user-dropdown" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 477px);">
                
                    <ul class="py-1" aria-labelledby="user-menu-button">
                        <li>
                            <a href="/signup" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 ">Become a Vendor</a>
                        </li>
                        <li>
                            <a href="/login" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 ">Login</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </nav>


  <%- include('partials/header') -%>

    <section class="category-container flex">
        <div>
            <ul class="flex gap-10">
                <li class="category-list">
                    <div>
                        <i class="ph-books mb-4" style="color: #818181; font-size: 24px;"></i>
                        <p class="cat-text cat-text-books">Books</p>
                    </div>
                </li>
                <li class="category-list">
                    <div>
                       <i class="ph-laptop mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                       <p class="cat-text">Gadgets</p> 
                    </div>
                </li>
                <li class="category-list">
                    <div class="">
                       
                        <i class="ph-t-shirt mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                        <p class="cat-text">Clothes</p>
                    </div>
                </li>
                <li class="category-list ">
                    <div>
                       <i class="ph-armchair mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                       <p class="cat-text">Antiques</p> 
                    </div>
                </li>
                <li class="category-list">
                    <div>
                       <i class="ph-wine mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                       <p class="cat-text cat-text-drinks">Drinks</p>
                    </div>
                </li>
                <li class="category-list">
                    <div>
                        <i class="ph-device-mobile mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                        <p class="cat-text">Phones</p>
                    </div>
                </li>
                <li class="category-list">
                    
                    <div>
                        <i class="ph-watch mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                        <p class="cat-text">Jewellery</p>
                    </div>
                </li>
                <li class="category-list">
                    <div>
                       
                       <i class="ph-gender-female mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                       <p class="cat-text">Beauty</p> 
                       
                    </div>
                </li>
                <li class="category-list">
                    <div>
                    
                       <i class="ph-toilet mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                       <p class="cat-text">Household</p> 
                    </div>
                </li>
                <li class="category-list">
                    <div>
                      
                       <i class="ph-toilet-paper mb-4" style="color: #818181; font-size: 24px;"></i>
                       <p class="cat-text">Supplies</p> 
                    </div>
                </li>
                <li class="category-list">
                    <div>
                       <i class="ph-flower-lotus mb-4 category-icon" style="color: #818181; font-size: 24px;"></i>
                       <p class="cat-text">Plants</p> 
                    </div>
                </li>
                <li class="category-list">
                    <div>
                       
                       <i class="ph-wrench ml-3 mb-4" style="color: #818181; font-size: 24px;"></i>
                       <p class="cat-text">Tools</p> 
                    </div>
                </li>
            </ul>
            
        </div>
    </section>

    <main class="main-section">
        <section class="flex gap-2 top-rated">
            <span><i class="ph-star-fill top-rated-icon" style="color: #F6BE4F; font-size: 20px;"></i></span>
            <p class="top-rated-text">Top Rated Vendors</p>
        </section>

        <section class="main-container block mt-5">
            <ul>
               
                <li class="mb-9">
                    <section class=" vendor-container mb-5">
                        <section class="flex second-vendor-container gap-4">
                            <!-- avatar section -->
                            <div class="vendor-avatar">
                                <img src="./images/coffee-fill.png" class="justify-center avatar-img" alt="">
                            </div>

                            <!-- info section -->
                            <section class="vendor-detail-container">
                                <section class="vendor-info block">
                                    <div class="flex gap-2">
                                        <h2 class="vendor-name">MugsCo</h2>

                                        <span class="vendor-reviews flex">
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i>
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i>
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i>
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i>
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i> 
                                            
                                             Reviews
                                        </span>
                                    </div>
                                    <div class="vendor-category">
                                        <p>kitchen utensils, mugs</p> 
                                    </div>
                                    <div class="flex mt-2 vendor-address">   
                                            <textarea class="js-copytextarea vendor-directions">4, Authority Avenue, Ikotun, Egbe, Lagos State</textarea>
                                            <button class="js-textareacopybtn copy-btn"><span><i class="ph-fill ph-copy" style="color: #48B8C6;"></i></span></button>
                                    </div>
                                    <div class="vendor-about">
                                        <p>We specialize in the production and distribution of kitchen materials. We use  <br>purely sourced raw material in our production. Reach out to us let's help put a smile on your face.</p>
                                    </div>
                                </section>

                                <!-- contact section -->
                                <section class="contact-section">
                                    <section class="flex gap-4">
                                        <div class="icon-border">
                                            <a href="#"> <i class="ph-phone-fill icon-img"></i></a>
                                        </div>
                                        <div class="icon-border">
                                            <a href="#" target="_blank"> <i class="ph-link-fill icon-img"></i></a>
                                        </div>
                                        <div class="icon-border">
                                        <a href="#"> <i class="ph-bookmark-simple-fill icon-img"></i></a>
                                        </div>
                                    </section>
                                    <section >
                                        <div class="flex gap-3 mt-4">
                                            <p class="vendor-hours">Open <span class="vendor-time"> till 10:30</span></p>
                                            
                                        </div>
                                    
                                    </section>
                                
                                </section>
                            </section>
                            
                        </section>
                
                    </section>
                </li>
            </ul>

            <ul>
               
                <li class="mb-9">
                    <section class=" vendor-container mb-5">
                        <section class="flex second-vendor-container gap-4">
                            <!-- avatar section -->
                            <div class="vendor-avatar">
                                <img src="./images/watch-fill.png" class="justify-center avatar-img" alt="">
                            </div>

                            <!-- info section -->
                            <section class="vendor-detail-container">
                                <section class="vendor-info block">
                                    <div class="flex gap-2">
                                        <h2 class="vendor-name">Olaa</h2> 

                                        <span class="vendor-reviews flex">
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i>
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i>
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i>
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i>
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i> 
                                            
                                             Reviews
                                        </span>
                                    </div>
                                    <div class="vendor-category">
                                        <p>Jewellery, Accessories</p> 
                                    </div>
                                    <div class="flex mt-2 vendor-address">   
                                            <textarea class="js-copytextarea vendor-directions">24, Eletu Odibo. Abule Ijesha. Yaba, Lagos.</textarea>
                                            <button class="js-textareacopybtn copy-btn"><span><i class="ph-fill ph-copy" style="color: #48B8C6;"></i></span></button>
                                    </div>
                                    <div class="vendor-about">
                                        <p>Olaa is an online business that specializes in the sale of real authentic jewelry.  <br> We delivery worldwide.</p>
                                    </div>
                                </section>

                                <!-- contact section -->
                                <section class="contact-section">
                                    <section class="flex gap-4">
                                        <div class="icon-border">
                                            <a href="#"> <i class="ph-phone-fill icon-img"></i></a>
                                        </div>
                                        <div class="icon-border">
                                            <a href="#" target="_blank"> <i class="ph-link-fill icon-img"></i></a>
                                        </div>
                                        <div class="icon-border">
                                        <a href="#"> <i class="ph-bookmark-simple-fill icon-img"></i></a>
                                        </div>
                                    </section>
                                    <section >
                                        <div class="flex gap-3 mt-4">
                                            <p class="vendor-hours">Open <span class="vendor-time"> Always Open</span></p>

                                        </div>

                                    </section>

                                </section>
                            </section>

                        </section>

                    </section>
                </li>
            </ul>

            <ul>

                <li class="mb-9">
                    <section class=" vendor-container mb-5">
                        <section class="flex second-vendor-container gap-4">
                            <!-- avatar section -->
                            <div class="vendor-avatar">
                                <img src="./images/hamburger-fill.png" class="justify-center avatar-img" alt="">
                            </div>

                            <!-- info section -->
                            <section class="vendor-detail-container">
                                <section class="vendor-info block">
                                    <div class="flex gap-2">
                                        <h2 class="vendor-name">The Burger Joint</h2>

                                        <span class="vendor-reviews flex">
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i>
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i>
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i>
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i>
                                            <i class="ph-star-fill" style="color: #818181; font-size: 14px;"></i> 

                                             Reviews
                                        </span>
                                    </div>
                                    <div class="vendor-category">
                                        <p>Food, ccc and shakes</p> 
                                    </div>
                                    <div class="flex mt-2 vendor-address">   
                                            <textarea class="js-copytextarea vendor-directions">82 Adelaide Street, Collins Road. Lagos, State</textarea>
                                            <button class="js-textareacopybtn copy-btn"><span><i class="ph-fill ph-copy" style="color: #48B8C6;"></i></span></button>
                                    </div>
                                    <div class="vendor-about">
                                        <p>Our menu features burgers that are hand crafted with 100% Angus beef. <br>We use fresh, natural and delicious ingredients.</p>
                                    </div>
                                </section>

                                <!-- contact section -->
                                <section class="contact-section">
                                    <section class="flex gap-4">
                                        <div class="icon-border">
                                            <a href="#"> <i class="ph-phone-fill icon-img"></i></a>
                                        </div>
                                        <div class="icon-border">
                                            <a href="#" target="_blank"> <i class="ph-link-fill icon-img"></i></a>
                                        </div>
                                        <div class="icon-border">
                                        <a href="#"> <i class="ph-bookmark-simple-fill icon-img"></i></a>
                                        </div>
                                    </section>
                                    <section >
                                        <div class="flex gap-3 mt-4">
                                            <p class="vendor-hours">Open <span class="vendor-time"> till 12:00</span></p>
                                            
                                        </div>
                                    
                                    </section>
                                
                                </section>
                            </section>
                            
                        </section>
                
                    </section>
                </li>
            </ul>
           

        </section>
    </main>
    <script src="/main.js"></script>




<%- include('partials/footer') -%>