<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles/tailwind.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/custom.css">
    
    <title>This is the Homepage</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/site-icon.png"
    />
</head>
<body>
    <nav class="nav-background px-2 sm:px-4 py-2.5 ">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a href="/" class="flex items-center">
                <img src="./images/Logo-main.png" alt="Venddir Logo">
            </a>
            <div class="flex items-center md:order-2">
                <p class="browse-vendors mr-6">Become a Vendor</p>
                <button type="button" class="flex mr-3 text-sm  rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                    <span class="sr-only">Open user menu</span>
                    <div class="hamburger-border">
                        <i class="ph-list" style="color: #EAEAEA; font-size: 18px;"></i>
                        <i class="ph-user-fill" style="color: #F3F3F3; font-size: 18px;"></i>
                    </div>
                </button>
                <!-- Dropdown menu -->
                <div class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow " id="user-dropdown" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 477px);">
                
                    <ul class="py-1" aria-labelledby="user-menu-button">
                        <li>
                            <a href="/signup" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 ">Sign up</a>
                        </li>
                        <li>
                            <a href="/login" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 ">Login</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </nav>


    <div class="mt-6 flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="w-full max-w-md space-y-8">
            <div>
            
                <h2 class=" signin-text text-center text-3xl font-light tracking-tight top bottom">Log in to your account</h2>
                
                <button type="button" class="text-black bg-[#FFFFFF] mt-6 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 rounded-full border border-gray-200 text-sm px-6 py-3 text-center inline-flex items-center google-button mb-2">
                    <svg class="mr-2 -ml-1 w-4 h-4" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512"><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg>
                        Login with Google
                </button>
                <p class="mt-2 text-center text-sm text-gray-600 signin-text-two">
                    Or
                    use your email:
                </p>

            </div>
            <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %> <% } %> <% if (locals.messages.info) { %> <%
            messages.info.forEach( el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
            <% }) %> <% } %>
            <form class="space-y-6" action="/login" method="POST">
                <div class="email-field">
                    <label for="inputEmail" class=""></label>
                    <input type="email" name="email" id="inputEmail" class="password-field form-control rounded-lg" placeholder="name@company.com" required="">
                </div class="email-field">
                <div>
                    <label for="password" class=""></label>
                    <input type="password" name="password" id="password" placeholder="password" class="password-field form-control rounded-lg" required="">
                </div>
            
                <button type="submit" class="signup-button">Login to your account</button>
                <div class="text-sm font-medium text-gray-500 signin-text-three">
                    Not registered? <a href="/signup" class="">Create account</a>
                </div>
            </form>
        </div>
    </div>

<%- include('partials/footer') -%>