<%- include('partials/nav') -%>


    <section>
        <div class="profile-background">
            <h1 class="account-text">My Account</h1>
            <div class="flex gap-6 menu-items">
                <a href="/profile" class="active">Profile</a>
                <a href="/security">Security</a>
            </div>
        </div>

    </section>

    <section class="security-container">
        <p class="password-manager">Password Manager</p>
        <button class="reset-password">Reset my password</button>
    </section>
    
  

<%- include('partials/footer') -%>