<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles/tailwind.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/custom.css">

    
    <title>This is the Homepage</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/site-icon.png"
    />
</head>
<body>
    <nav class="nav-background px-2 sm:px-4 py-5 ">
        <div class="px-14 flex flex-wrap justify-between items-center mx-auto">
            <a href="/" class="flex items-center">
                <img src="./images/Logo-main.png" alt="Venddir Logo">
            
            </a>
            <div class="flex items-center md:order-2">
        
                <button type="button" class="flex mr-3 text-sm  rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                    <span class="sr-only">Open user menu</span>
                    <div class="hamburger-border">
                        <i class="ph-list" style="color: #EAEAEA; font-size: 18px;"></i>
                        <i class="ph-user-fill" style="color: #F3F3F3; font-size: 18px;"></i>
                    </div>
                </button>
                <!-- Dropdown menu -->
                <div class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow " id="user-dropdown" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 477px);">
                
                    <ul class="py-1" aria-labelledby="user-menu-button">
                        <li>
                            <a href="/signup" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 ">Sign up</a>
                        </li>
                    
                        <li>
                            <a href="/login" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 ">Login</a>
                        </li>
                    
                    </ul>
                </div> 

            </div>

        </div>
    </nav>


    <div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8 mb-16">
        <div class="w-full max-w-md space-y-8">
            <div class="mt-20">
            
                <h2 class="signin-text text-center text-3xl font-light tracking-tight" id="test">Just a few details</h2>
                <p class="text-center signin-text-three mt-2">Let us know how you’d like people to reach you</p>
                
            </div>

            <section>
             
                <form class="" action="/vendor/createVendor" enctype="multipart/form-data" method="POST">
                    <h2 class=" business-logo-text create-biz-text">Business Logo</h2>

                    <section class="flex gap-6 business-info biz-avatar">

                        <!-- hidden by default -->
                        <div class="avatar-bg mt-1.5">
                            <img class="image-preview" id="imagePreview" width="120" height="120" style="display: none;">
                             <p onclick="removeImage()" style="display: none;" class="remove avatar-discard-text mt-3.5 remove-text">Remove</p>
                       
                        </div>
                        <!-- hidden by default -->

                        <label class="custom-file-upload upload-text" for="fileUpload">
                            <input type="file" id="fileUpload" name="file" onchange="displayImage()"/>
                            <i class="ph-camera upload-icon" style="font-size: 24px;"></i>
                            <p class="mt-2">Click or drag <br> to upload</p>
                        </label>
                        
                    </section>

                    <section class="space-y-6 biz-input-layer">
                         <div class=" email-field">
                            <label for="businessName" class=""></label>
                            <input type="text" name="businessName" id="businessName" class="password-field form-control rounded-lg" placeholder="Business Name" required="">
                        </div>
                        <div class=" email-field">
                            <label for="businessEmail" class=""></label>
                            <input type="text" name="businessEmail" id="businessEmail" class="password-field form-control rounded-lg" placeholder="Business Email" required="">
                        </div>
                        <div class=" email-field">
                            <label for="phoneNumber" class=""></label>
                            <input type="text" name="phoneNumber" id="phoneNumber" class="password-field form-control rounded-lg" placeholder="Contact Number" required="">
                        </div>
                    
                        <div class=" email-field">
                            <label for="websiteLink" class=""></label>
                            <input type="text" name="websiteLink" id="websiteLink" class="password-field form-control rounded-lg" placeholder="Website Link" required="">
                        </div>
                        <section class="block">
                            <div class=" email-field">
                                <label for="streetAddress" class=""></label>
                                <input type="text" name="streetAddress" id="streetAddress" placeholder="Street Address" class="password-field form-control rounded-lg" required="">
                            </div>
                            <div class=" email-field">
                                <label for="state" class=""></label>
                                <input type="text" name="state" id="state" placeholder="State" class="password-field form-control rounded-lg" required="">
                            </div>
                            <div class=" email-field">
                                <label for="city" class=""></label>
                                <input type="text" name="city" id="city" placeholder="City" class="password-field form-control rounded-lg" required="">
                            </div>
                        </section>

                        <div class=" email-field">
                            <label for="businessCategory" class=""></label>
                            <input type="text" name="businessCategory" id="businessCategory" class="password-field form-control rounded-lg" placeholder="Business Category" required="">
                        </div>

                        <div class=" email-field">
                            <label for="subCategory" class=""></label>
                            <input type="text" name="subCategory" id="subCategory" class="password-field form-control rounded-lg" placeholder="Sub Category" required="">
                        </div>

                        <div>
                            <label for="businessDetail"></label>
                            <textarea name="businessDetail" id="businessDetail" cols="20" rows="10" placeholder="Tell us about your business" class="business-input business-caption biz-text-area"></textarea>
                            <p class="input-footnote input-footnote-2">250 words</p>
                        </div>

                           <div class="options">
                            <label for="workDays"></label>
                            <select name="workDays" id="workDays" class="password-field form-control rounded-lg">
                                <option value=""  disabled selected>What days do you work</option>
                                <option value="1" name="workDays">Weekdays</option>
                                <option value="2" name="workDays">Weekends</option>
                                <option value="3" name="workDays">Everyday</option>
                            </select>
                        </div>

                        <section class="flex flex-row">
                            <div class="">
                                <label for="openTime" class=""></label>
                                <input type="text" name="openTime" id="openTime" class="name-field form-control rounded-lg " placeholder="Open at" required="">
                            </div>
                            <div class="">
                                <label for="closeTime" class=""></label>
                                <input type="text" name="closeTime" id="closeTime" class="name-field form-control rounded-lg" placeholder="Close at" required="">
                            </div>
                        </section>
                    
                        <button type="submit" class="signup-button" value="Upload">Complete Signup</button>
                    
                    </section>
                    
                </form>
            </section>
                
        </div>
    </div>
    <script src="/main.js"></script>
</body>



<%- include('partials/footer') -%>