body {
    background: url(.//Background.png);
}

.container {
    display: flex;
    height: 300px;

}

.logo {
    display: flex;
    margin: 50px auto;
}

.container-child {
    margin: auto;
}

p {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;

    /* Black/60 */

    color: #818181;

}

h1 {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 66px;
    text-align: center;
    color: #2D2D2D;
    /* margin-top: -10px; */
}

.color-blue {
    color: #48B8C6;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 984px;
    border: none;
    border-bottom: 1px solid #ABABAB;
    background: none;
}

#input-field {
    margin: 80px 0 0 200px;

}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 0px;

    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    color: #ABABAB;

}

/* active state */
input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #48B8C6;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;

    /* padding-left: 30px; */
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #48B8C6;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

/* .bar:after {
    right: 50%;
} */

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
    width: 850px;

}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #48B8C6;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #48B8C6;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #48B8C6;
    }

    to {
        width: 0;
        background: transparent;
    }
}


a {
    padding: 16px 24px;
    width: 110px;
    height: 15px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #FFFFFF;
    backdrop-filter: blur(4px);
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #48B8C6;
    border-radius: 8px;
}

.btn {
    display: flex;
    /* width: 100px; */
    /* height: 300px; */
    justify-content: flex-end;
    margin-right: 215px;

}