.browse-vendors {
    color: #F3F3F3;
    font-family: 'Epilogue', sans-serif;
}

body {
    background: #fff;
}

header {
    width: 1441px;
    height: 402px;
    background: url(./background.png);
}

nav {
    position: fixed !important;
    width: 1441px;
    z-index: 1000;
}

.header-form {
    width: 483px;
    height: 77px;
    background: #EDF8F9;
    border-radius: 24px;
    border: none;
}

.search-container {
    margin-top: 65px;
}

.button {
    width: 134px;
    height: 78px;
    background: #2B6E77;
    border-radius: 24px;
    color: #f3f3f3;
    margin-left: -60px;
}

.input-left {
    margin-left: -45px;
}

.header-text {
    color: #f3f3f3;
    padding-top: 80px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
}

.briefcase-icon {
    margin-left: -70px;
}

input {
    border: none;
    width: 100%;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.form-group {
    padding: 5px;
    border: 1px solid #ABABAB;
    border-radius: 8px;
    margin: 10px;
    width: 400px;
    height: 75px;
    font-size: 12px;
}



.form-group>label {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: -20px;
    left: 20px;
    background-color: white;

}

.form-group>input {
    border: none;
}

.password-field {
    border: 1px solid #ABABAB;
    border-radius: 8px;
    margin: 10px;
    width: 480px;
    height: 70px;
}

.email-field {
    width: 429px;
}

::placeholder {
    font-size: 14px;
    color: #575757 !important;
}

.signup-button {
    width: 480px;
    height: 48px;
    background: #1390A0 !important;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #F3F3F3;
    font-family: 'Epilogue', sans-serif;
    margin-left: 12px;
}

.google-button {
    margin-left: 132px;
    margin-top: 40px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.signin-text-two {
    margin-left: 28px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.name-field {
    width: 229px;
    border: 1px solid #ABABAB;
    border-radius: 8px;
    margin: 10px;

    height: 70px;
}

.signin-text {
    font-family: 'Epilogue', sans-serif;
    color: #818181;
    margin-left: 22px;
}

.signin-text-three {
    margin-left: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Nunito Sans', sans-serif;
}

.signin-text-three>a {
    color: #1390A0;
}

input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #48B8C6;
}

.top {
    margin-top: 80px;
}

.bottom {
    margin-bottom: 20px;
}

.second-input {
    width: 450px;
}

.cat-dropdown {
    border-radius: 30px 0px 0px 30px;
    width: 400px;
    background: #EDF8F9;
    color: #575757;

}

form {
    margin-top: 70px;
}

.search-input {
    border-radius: 0px 30px 30px 0px;
}

.category-container {
    height: 100px;
    margin-top: 80px;
    margin-left: 180px;
}

.category-list {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    align-items: center;
}

.top-rated {
    margin: 0 0 20px 80px;
}

.vendor-container {
    width: 1275px;
    height: 239px;
    background: #F1F1ED;
    border: 1px solid #D5D5D5;
    border-radius: 8px;
    margin-left: 80px;

}

.vendor-avatar {
    width: 80px;
    height: 80px;
    margin: 20px 20px 0 30px;
    background: #FFFFFF;
    border-radius: 100px;
}

.icon-border {
    width: 32px;
    height: 32px;
    border: 1px solid #D5D5D5;
    border-radius: 100px;
}

.second-vendor-container {
    margin-top: 30px;
}

.avatar-img {
    margin: 22px 0 0 21px;
    width: 40.34px;
    height: 35.18px;

}

.vendor-name {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    color: #2D2D2D;
}

.vendor-category {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    margin-top: 10px;
}

.vendor-directions {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #575757;

}

.vendor-about {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2D2D2D;
    margin-top: 20px;
}

.icon-img {
    margin: 6px 0 0 7px;
}

.vendor-hours {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #58A942;
}

.vendor-time {
    color: #2D2D2D;
}

.vendor-info {
    width: 650px;
}

.vendor-detail-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 70px;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 10px;
    margin-left: 250px;
}

.vendor-reviews {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    color: #818181;
}

.profile-background {
    width: 1440px;
    height: 164px;
    background: url(./profile-background.png);
}

.account-text {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 26px;
    margin-left: 200px;
    padding-top: 80px;

    color: #F3F3F3;
}

.menu-items {
    margin-left: 200px;
    padding-top: 22px;
}

.profile-input {
    width: 407px;
    height: 56px;
}

.user-info {
    margin-left: 200px;
}

.basic-info-text,
.business-logo-text {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #2D2D2D;
    margin-left: 10px;
}

.profile-border {
    padding-top: 40px;
    margin-left: 10px;
    border-bottom: 0.5px solid #D5D5D5;
    width: 846px;
}

.profile-section {
    height: 500px;
    border: 1px solid rebeccapurple;
}

.profile-text {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #2D2D2D;
    margin-left: 10px;
}

.profile-avatar {}

.avatar-bg,
.image-preview {
    width: 120px;
    height: 120px;
    background: #D5D5D5;
    border: 1px solid #48B8C6;
    border-radius: 100%;
    display: none;
}

.remove {
    cursor: pointer;

}

.avatar-discard-remove {
    margin-top: 10px;
}

.upload-section {
    margin-top: 20px;

}

.upload-bg {
    width: 120px;
    height: 120px;
    background: #EAEAEA;
    border: 1.71429px dashed #ABABAB;
    border-radius: 100%;
    border: 1px solid red;
    display: inline-block;

    cursor: pointer;
}

.custom-file-upload {
    /* border: 1px solid #ccc; */
    width: 120px;
    height: 120px;
    background: #EAEAEA;
    border: 1.71429px dashed #ABABAB;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



.upload-text {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #818181;
    margin-top: 7px;
    text-align: center;
}

.upload-icon {
    margin-top: 20px;
}

.discard-btn {
    padding: 16px 32px;
    width: 124px;
    height: 48px;
    border: 1px solid #ABABAB;
    border-radius: 8px;
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2D2D2D;
}

.save-btn {
    padding: 16px 32px;
    width: 152px;
    height: 48px;
    background: #1390A0 !important;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #F3F3F3;
}

.avatar-bg-small {
    width: 42px;
    height: 42px;
    border: 1px solid #D5D5D5;
    border-radius: 1e+11px;
}

.avatar-section-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #818181;
    margin-top: 25px;
    margin-bottom: 15px;
}

.create-btn {
    padding: 20px 36px;
    width: 172px;
    height: 68px;
}

.save-profile-section {
    margin-top: 180px;
    margin-left: 430px;
}

.create-profile-section {
    margin-left: 530px;
}

.avatar-discard-text {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #818181;
    margin-top: 7px;
}

.email-field-two {
    width: 834px;
}

.about-field {
    width: 834px;
    height: 200px;
}

.hamburger-border {
    padding: 8px 12px;
    width: 70px;
    height: 40px;
    border: 2px solid #C0C0C0;
    border-radius: 100px;
}

.signin-text-three {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #818181;
}

.location-icon {
    margin-top: 30px;
    margin-left: 20px;
}

.input-icons i {
    position: absolute;
}

.form-height {
    height: 730px;
}

.search-input::placeholder {
    padding-left: 30px;
}

.options select {
    padding-left: 12px;
    padding-top: 22px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #575757;
}

.input-footnote-2 {
    margin-left: 395px;
    width: 20%;
}

.security-container {
    height: 500px;

}

.password-manager {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #2D2D2D;
    margin-left: 200px;
    margin-top: 50px;
}

.reset-password {
    padding: 16px 32px;
    gap: 12px;
    width: 217px;
    height: 58px;
    background: #1390A0;
    border-radius: 8px;
    margin-left: 200px;
    margin-top: 50px;
    color: white;
}

.business-logo-text {
    padding-top: 30px;
}

.upload-button {
    margin-top: -5px;
}

.profile-upload-button {

    margin-left: 5px;
}

a:active {
    border-bottom: 2px solid white;
    color: green;
}

.business-input {
    width: 834px;
    border: 1px solid #ABABAB;
    border-radius: 8px;

}

.business-caption {
    height: 126px;
    margin-left: 11px;
    margin-top: 12px;
}

.business-profile-field {
    padding-top: 50px;
}

.input-footnote {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-right: 400px;
    text-align: right;
    color: #48B8C6;
}

.business-info {
    margin-left: 12px;
}

textarea::placeholder {
    padding-left: 12px;
    padding-top: 12px;
}

.cat-text {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #575757;
}

.cat-text-books {
    margin-left: 40px;
}

.ph-books {
    margin-left: 48px;
}

.top-rated-icon {
    margin-top: -12px;
}

.category-icon {
    margin-left: 12px;
}

.ph-wine,
.ph-gender-female,
.ph-toilet-paper,
.ph-flower-lotus {
    margin-left: 6px;
}

.ph-toilet {
    margin-left: 16px;
}

.cat-dropdown-btn-text {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #575757;
}

.cat-dropdown-btn-text::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #575757;
}

.input-border {
    padding-left: 210px;
    height: 20px;
    color: #C8EAEE;
}

.top-rated-text {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #575757;
}

.create-biz-text {
    margin-top: -50px;
    margin-left: 40px !important;
}

.biz-avatar {
    margin-left: 35px;
    margin-top: 20px;
}

.remove-text {
    margin-left: 35px;
}

.biz-input-layer {
    margin-top: 50px;
}

.biz-text-area {
    width: 480px;
    height: 165px;
}

.choose-biz {
    margin-left: 450px;
    margin-top: 130px;

}

.input-form-dropdown-cat {
    background: #F3F3F3;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.15), -8px 8px 32px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}


.nav-background {
    background: #0E2528;
}

input[value] {
    font-size: 14px;
    color: #575757;
    padding-left: 12px;
    padding-top: 21px;
}



footer {
    border-top: 1px solid #D5D5D5;
    margin-top: 100px !important;
}

.footer-text {
    margin-left: 65px;

}

.footer-text-2 {
    margin-right: 70px;
}

footer p {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;

    color: #575757;
}

.footer-text-2 p>span {
    font-weight: 400;
    color: #2D2D2D;
}

.btn-section {
    margin-left: 555px;
}