.browse-vendors {
    color: #2D2D2D;
    font-family: 'Epilogue', sans-serif;
}

body {
    background: #fff;
}

header {
    width: 1441px;
    height: 402px;
}

nav {
    border-bottom: 3px solid red;
}